<br>
<!-- <p class="text-center">Ota Yhteyttä tämäkin on viellä työn alla </p> -->
<h1 class="text-center">Ota yhteyttä</h1>
<br>
<div class="container">
  <form action="action_page.php">

    <label for="fname">Nimi</label>
    <input type="email" id="fname" name="firstname" placeholder="nimi.." required>

   <label for="lname">Email</label>
    <input type="text" id="lname" name="lastname" placeholder="email.." required>
    <label for="subject">Aihe</label>
    <textarea id="subject" name="subject" placeholder="Kirjoita.." style="height:200px" required></textarea>

    <input type="submit" value="Lähetä">

  </form>
</div>