<br>
<div class="container-fluid bg-3 text-center">
    <div class="col-sm-0">
        <h1>Koulutus ja Kurssit</h1>
        <p>Täältä pystyt katosomaan mitä olen opiskelut</p>
    </div>
<div class="container-fluid bg-3 text-center">    
    <div class="row">
      
      <div class="col-sm-4">
        <h2>Koulutus</h2>
        <p>tähän tulee tietoa koulutuksista</p>
        </div>
      <div class="col-sm-4"> 
        <h2>Koulutus2</h2>
        <p>tähän tulee tietoa koulutuksista</p>
      </div>
      <div class="col-sm-4"> 
        <h2>Kurssit</h2>
        <p>tähän tulee tietoa kurseista mitä olen käynyt</p>
      </div>
      <div class="col-sm-4"> 
        <h2>Kurssit</h2>
        <p>tähän tulee tietoa kurseista mitä olen käynyt</p>
      </div>
     
      
      
    </div>
  </div>