<br>
<div class="container-fluid bg-3 text-center">
    <div class="col-sm-0">
        <h1>projekteja</h1>
        <!-- <p></p> -->
    </div>
<div class="container-fluid bg-3 text-center">    
    <div class="row">
      
      <div class="col-sm-4">
        <h2>Lorem</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus non enim praesent elementum facilisis leo vel. Habitasse platea dictumst quisque sagittis purus. Leo vel fringilla est ullamcorper eget nulla. Arcu dictum varius duis at consectetur. Magna etiam tempor orci eu lobortis elementum nibh. Congue nisi vitae suscipit tellus mauris a diam maecenas sed. Vitae ultricies leo integer malesuada.</p>
        </div>
      <div class="col-sm-4"> 
        <h2>Lorem</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus non enim praesent elementum facilisis leo vel. Habitasse platea dictumst quisque sagittis purus. Leo vel fringilla est ullamcorper eget nulla. Arcu dictum varius duis at consectetur. Magna etiam tempor orci eu lobortis elementum nibh. Congue nisi vitae suscipit tellus mauris a diam maecenas sed. Vitae ultricies leo integer malesuada.</p>
      </div>
      <div class="col-sm-4"> 
        <h2>Lorem</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus non enim praesent elementum facilisis leo vel. Habitasse platea dictumst quisque sagittis purus. Leo vel fringilla est ullamcorper eget nulla. Arcu dictum varius duis at consectetur. Magna etiam tempor orci eu lobortis elementum nibh. Congue nisi vitae suscipit tellus mauris a diam maecenas sed. Vitae ultricies leo integer malesuada.</p>
      </div>
    </div>
  </div>