<br>
<div class="container-fluid bg-3 text-center">
    <div class="col-sm-0">
        <h1>Koulutus ja Kurssit</h1>
        <p>Täältä pystyt katosomaan mitä olen opiskelut</p>
    </div>
<div class="container-fluid bg-3 text-center">    
  <div class="row">
    
    <div class="col-sm-4">
      <h2>Työ1</h2>
      <p>tähän on tarkoitus laitaa myöhemin tietoa työpaikasta</p>
      </div>
    <div class="col-sm-4"> 
      <h2>Työ2</h2>
      <p>tähän on tarkoitus laitaa myöhemin tietoa työpaikasta</p>
    </div>
    <div class="col-sm-4"> 
      <h2>Työ3</h2>
      <p>tähän on tarkoitus laitaa myöhemin tietoa työpaikasta</p>
    </div>
    
    
  </div>
</div>


